    body {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }


    .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .courgette-regular {
        font-family: "Courgette", cursive;
        font-weight: 400;
        font-style: normal;
    }

    #logo {
        width: 100px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        padding: 10px 50px 10px 50px;
        align-items: center;
        position: fixed;
        width: 90vw;
        z-index: 100;
    }

    /* nav:hover {
        color: blue;
    } */

    .nav-links {
        text-decoration: none;
        color: white;


    }

    #nav-links {
        display: flex;
        column-gap: 50px;
        text-transform: uppercase;
        color: white;
        font-size: 12px;
    }

    .nav-links:hover {
        color: #ED2647;
    }

    #hero {
        background-image: url(../assets/images/hero_bg.jpg);
        width: 100vw;
        height: 100vh;
        background-size: 100% 100%;
        color: white;
    }

    #hero-overlay {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }

    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #subtext-one {
        font-size: 60px;
    }

    #subtext-two {
        font-size: 100px;
    }

    .menu-btn {
        background-color: white;
        color: #ED2647;
        border: none;
        padding: 15px 20px 15px 20px;
        text-transform: uppercase;
        font-size: 12px;
        border-radius: 5px;
    }

    .menu-btn:hover {
        color: white;
        background-color: #ED2647;
    }

    #about {
        display: flex;
        justify-content: center;
        padding: 120px 0 105px;
        background: #EFEFEF;

    }

    #about-text {
        align-items: center;
        padding: 45px 150px 40px 20px;

    }

    .sub-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .sub-header span:nth-child(1) {
        font-size: 30px;
        color: red;
    }

    .sub-header span:nth-child(2) {
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 10px;
        padding-bottom: 30px;
    }

    #about-text p {
        text-align: center;
        font-size: 15px;
        color: #666666;
        padding-bottom: 40px;
    }

    #about-link {
        text-align: center;
        font-size: 12px;
        color: #222222;
        row-gap: 10px;
    }

    #about-link a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
    }

    #about-link a:hover {
        color: #ED2647;
    }


    #about-image {
        width: 450px;
        height: 450px;
        border-radius: 50px;
        padding: 0 0 90 200px;
    }

    /* #about-image:hover{
    transform: scale(1.5);
    filter: brightness(100%);
    transform-origin: 50% 65%;
    transition: transform 5s, 
    filter 3s ease-in-out;
} */

    #discover-place-bg {
        background-image: url("../assets/images/discover-place.jpg");
        background-attachment: fixed;
        /* background-position: center 150px; */
        width: 100vw;
        height: 60vh;
        color: white;

    }
    .sub-header #subtext-one{
        font-size: 30px;
    }
    .sub-header #subtext-two{
        font-size: 50px;
    }

    #discover-section {
        display: flex;
        flex-direction: column;
        padding: 77px 0 133px 0;

    } 

    #discover-img img{
        justify-content: space-evenly;
        padding: 15px 55px 15px 55px;
        width: 330px;
        height: 250px;
        border-radius: 60pt;
    }

    #discover-text{
        display: flex;
    } 
    #about-text{
        padding: 0 100px 45px 0;
        align-items: flex-start;
        text-align: left;
    }
    
    #discover-text .sub-header a{
        align-items:flex-start;
        text-align: left;
        font-size: 22px;
        text-transform: uppercase;
        color: black;
        text-decoration: none;
    }
    #discover-text .sub-header a:hover{
        color: red;
    }
 
    #discover-text #about-text p{
        font-size: 15px;
        text-align: left;
        padding-left: 70px;
    }  
   
    #discover-text #about-text #about-link{
        font-size: 12px;
        text-align: left;
        text-transform: uppercase;
        padding: 10px 0 0 70px;


    }

    /* video section begin */

    #video-sec{
        width: 100vw;
        height: 60vh;
        position: relative;
    }
    
    #video{
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    #video-overlay{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        width: inherit;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #video-overlay span:last-child{
        color: #EFEFEF;
    }

    /* video section ends */
    #reservation{
        background-color: #EFEFEF;
    }

    #menu-sec {
        background-color: #F5F2EC;
        width: 100vw;
        /* height: 100vh; */
        padding: 100px 0;
        display: flex;
        row-gap: 40px;
        align-items: center;
        flex-direction: column;
    }



    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        /* padding: 10px; */
        width: 80vw;

    }

    .grid-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .grid-container button{
        color: #222222;
        position: absolute;
        background-color: #EFEFEF;
        border: none;
        text-align: center;
        /* transform: translate(-50%, -50%); */

      
    }

    .grid-container button:hover{
        background-color: red;
        color: #EFEFEF;
    }
    
     .group1 {
        grid-row-start: 1;
        grid-row-end: 3;
        height: 520px;
    }
      
    .group2 {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 250px;
    }
      .group3 {

        height: 250px;
    }
   
    #reservation{
        background-color: #EFEFEF;
        padding: 120px 50px;
        display: flex;
        justify-content: center;
        column-gap: 100px;
    }

    #reservation img{
        width: 29vw;
        height: 70vh;
        border-radius: 20px;
        margin-top: 60px;
    }
    #reservation-img{
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-radius: 20px;
    }
    #reservation img{
        transition: 0.5s all ease-in-out;
    }
    #reservation-img:hover img{
        transform: scale(1.5);
    }
    #input-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 20px;
        margin-bottom: 20px;
    }
    .form-item{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    #input-grid input{
        width: 300px;
        height: 40px;
        border-radius: 10px;
        border-color: #b9b9b9;
    }
    #button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #review-section{
        width: 100;
    }
